<!--
	Module: Email Banner, Two Column
	Variant: @@variant, onyx buttons
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="width: 100%;" cellpadding="0" cellspacing="0" role="presentation">
				<tr class="layout_two-column">
					<td style="margin-bottom: 16px;" class="column">
						<h1 class="sans margin-b-16">Factor Report</h1>
						<p style="width: 180px;" class="margin-b-16">Monthly analysis of global market factors</p>

						@@include("components/buttons/pills/templates/template.primary.onyx.html", {
							label: "Download",
							width: "100%"
						})
					</td>
					<td class="column">
						<!-- <img src="@@imgBase/@@imgSrc" alt="Feature image"> -->
						<img src="https://placehold.co/264x148" alt="Feature image" width="264px" height="148px">
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>