<!--
	Module: Email Banner, Two Column
	Variant: @@variant, sapphire buttons
-->
<table style border="0" cellpadding="0px" cellspacing="0" role="presentation" class="module @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="width: 100%;" cellpadding="8px" role="presentation">
				<tr class="layout_two-column">
					<td style="" class="column margin-b-16">
						<h1>Factor Report</h1>
						<br>
						<p>Monthly analysis of global<br/> market factors</p>
						<br>

						@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
							label: "Download",
							width: "98px"
						})
					</td>
					<td class="column">
						<img src="@@imgBase/@@imgSrc" alt="Feature image">
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>