<!--
	Module: Three Column Content, Large Thumbnail
	Variant: @@variant
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="width: 100%;" cellpadding="8px" role="presentation">
				<tr class="layout_four-column">
					<td colspan="2">
						<img src="@@imgBase/@@imgSrc" alt="GIFL Image" width="100%">
						<p></p> <!-- Spacer <p> for MSO image margin -->
						<br>
						<p class="paragraph-3">And here's another insights report title that you could subscribe to and this time it's even longer still.</p>
						<br>
						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "Subscribe"
						})
					</td>
					<!-- <td></td> -->
					<td class="column">
						<img src="@@imgBase/@@imgSrc" alt="GIFL Image" width="124">
						<p></p> <!-- Spacer <p> for MSO image margin -->
						<br>
						<p class="paragraph-3">And here's another insights report title that you could subscribe to and this time it's even longer still.</p>
						<br>
						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "Subscribe"
						})
					</td>
					<td class="column">
						<img src="@@imgBase/@@imgSrc" alt="GIFL Image" width="124">
						<p></p> <!-- Spacer <p> for MSO image margin -->
						<br>
						<p class="paragraph-3">And here's another insights report title that you could subscribe to and this time it's even longer still.</p>
						<br>
						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "Subscribe"
						})
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>