<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Lazard Email Template - Master</title>
		<link rel="stylesheet" type="text/css" href="../../src/styles/index.css">
	</head>
	<body>
		<center class="wrapper">
<!-- ----------
	Button Components
---------- -->
			@@include('components/buttons/button.sapphire.html')
			<br/><br/>
			@@include('components/buttons/button.sapphire.small.html')
			<br/><br/>
			@@include('components/buttons/button.sapphire.secondary.html')
			<br/><br/>
			@@include('components/buttons/button.sapphire.secondary.small.html')
			<br/><br/>
			@@include('components/buttons/button.onyx.html')
			<br/><br/>
			@@include('components/buttons/button.onyx.small.html')
			<br/><br/>
			@@include('components/buttons/button.onyx.secondary.html')
			<br/><br/>
			@@include('components/buttons/button.onyx.secondary.small.html')
<!-- ----------
	END Button Components
---------- -->

<!-- ----------
	Preheader Modules
---------- -->
			@@include('modules/preheader/template.html')
<!-- ----------
	END Preheader Modules
---------- -->

<!-- ----------
	Logo Banner Modules
---------- -->
			@@include('modules/logo-banner/logo-banner.html')

			@@include('modules/logo-banner/logo-banner.sapphire.html')

			@@include('modules/logo-banner/logo-banner.onyx.html')

			@@include('modules/logo-banner/logo-banner.sage.html')

			@@include('modules/logo-banner/logo-banner.clarity.html')

			@@include('modules/logo-banner/logo-banner.currency.html')
<!-- ----------
	END Logo Banner Modules
---------- -->

<!-- ----------
	Email Banner - One Column
---------- -->
			@@include('modules/email-banner-one-column/email-banner-one-column.html')

			@@include('modules/email-banner-one-column/email-banner-one-column.sapphire.html')

			@@include('modules/email-banner-one-column/email-banner-one-column.onyx.html')

			@@include('modules/email-banner-one-column/email-banner-one-column.sage.html')

			@@include('modules/email-banner-one-column/email-banner-one-column.clarity.html')

			@@include('modules/email-banner-one-column/email-banner-one-column.currency.html')
<!-- ----------
	END Email Banner - One Column
---------- -->

<!-- ----------
	Email Banner - Two Column
---------- -->
			@@include('modules/email-banner-two-column/email-banner-two-column.html')

			@@include('modules/email-banner-two-column/email-banner-two-column.sapphire.html')

			@@include('modules/email-banner-two-column/email-banner-two-column.onyx.html')

			@@include('modules/email-banner-two-column/email-banner-two-column.sage.html')

			@@include('modules/email-banner-two-column/email-banner-two-column.clarity.html')

			@@include('modules/email-banner-two-column/email-banner-two-column.currency.html')
<!-- ----------
	END Email Banner - Two Column
---------- -->

<!-- ----------
  Email Heading
---------- -->
			@@include('modules/email-heading/email-heading.html')
			@@include('modules/email-heading/email-heading.small.html')

			@@include('modules/email-heading/email-heading.sapphire.html')
			@@include('modules/email-heading/email-heading.small.sapphire.html')

			@@include('modules/email-heading/email-heading.onyx.html')
			@@include('modules/email-heading/email-heading.small.onyx.html')

			@@include('modules/email-heading/email-heading.sage.html')
			@@include('modules/email-heading/email-heading.small.sage.html')

			@@include('modules/email-heading/email-heading.clarity.html')
			@@include('modules/email-heading/email-heading.small.clarity.html')

			@@include('modules/email-heading/email-heading.currency.html')
			@@include('modules/email-heading/email-heading.small.currency.html')
<!-- ----------
  END Email Heading
---------- -->

<!-- ----------
  One Column Content
---------- -->
			@@include('modules/one-column-content/one-column-content.html')
<!-- ----------
  END One Column Content
---------- -->

<!-- ----------
  One CTA Banner
---------- -->
@@include('modules/cta-banner/template.html')
<!-- ----------
  END One CTA Banner
---------- -->

		</center>
	</body>
</html>