<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../index.css">
	</head>
	<body align="center">
		<center>
<!-- ---------- Preheader Modules ---------- -->
			@@include( "modules/preheaders/preheader.link.html" )

			@@include( "modules/preheaders/preheader.html" )
<!-- ---------- END Preheader Modules ---------- -->

<!-- ---------- Logo Banner Modules ---------- -->
			@@include( "modules/logo-banners/logo-banner.html" )

			<!--
				Module: logo-banner
				Variant: Sapphire
			-->
			@@include( "modules/logo-banners/template.html", {
				variant: "sapphire",
				imgSrc: "LAM_Logo_Transparent_White.png"
			} )

			<!--
				Module: logo-banner
				Variant: Sage
			-->
			@@include( "modules/logo-banners/template.html", {
				variant: "sage",
				imgSrc: "LAM_Logo_Transparent.png"
			} )

			<!--
				Module: logo-banner
				Variant: Onyx
			-->
			@@include( "modules/logo-banners/template.html", {
				variant: "onyx",
				imgSrc: "LAM_Logo_Transparent_White.png"
			} )

			<!--
				Module: logo-banner
				Variant: CLarity
			-->
			@@include( "modules/logo-banners/template.html", {
				variant: "clarity",
				imgSrc: "LAM_Logo_Transparent.png"
			} )

			<!--
				Module: logo-banner
				Variant: Currrency
			-->
			@@include( "modules/logo-banners/template.html", {
				variant: "currency",
				imgSrc: "LAM_Logo_Transparent_White.png"
			} )
<!-- ---------- END Logo Banner Modules ---------- -->

<!-- ---------- Email Banner One Column Modules ---------- -->
			@@include( "modules/email-banner-one-columns/email-banner-one-column.html" )

			<!--
				Module: Email Banner One Column
				Variant: Sapphire
			-->
			@@include( "modules/email-banner-one-columns/template.html", {
				variant: "sapphire",
				imgSrc: "LAM_Banner_Industrial.png"
			} )

			<!--
				Module: Email Banner One Column
				Variant: sage
			-->
			@@include( "modules/email-banner-one-columns/template.html", {
				variant: "sage",
				imgSrc: "LAM_Banner_Mountains.png"
			} )

			<!--
				Module: Email Banner One Column
				Variant: onyx
			-->
			@@include( "modules/email-banner-one-columns/template.html", {
				variant: "onyx",
				imgSrc: "LAM_Banner_Sand.png"
			} )

			<!--
				Module: Email Banner One Column
				Variant: clarity
			-->
			@@include( "modules/email-banner-one-columns/template.html", {
				variant: "clarity",
				imgSrc: "LAM_Banner_Industrial.png"
			} )

			<!--
				Module: Email Banner One Column
				Variant: currency
			-->
			@@include( "modules/email-banner-one-columns/template.html", {
				variant: "currency",
				imgSrc: "LAM_Banner_Industrial.png"
			} )
<!-- ---------- END Email Banner One Column Modules ---------- -->

<!-- ---------- Email Banner two Column Modules ---------- -->
			@@include( "modules/email-banner-two-columns/email-banner-two-column.html" )

			@@include( "modules/email-banner-two-columns/email-banner-two-column.sapphire.html" )

			@@include( "modules/email-banner-two-columns/email-banner-two-column.sage.html" )

			@@include( "modules/email-banner-two-columns/email-banner-two-column.onyx.html" )

			@@include( "modules/email-banner-two-columns/email-banner-two-column.clarity.html" )

			@@include( "modules/email-banner-two-columns/email-banner-two-column.currency.html" )
<!-- ---------- END Email Banner two Column Modules ---------- -->

<!-- ---------- Email Heading Modules ---------- -->
			@@include( "modules/email-headings/email-heading.html" )
<!-- ---------- END Email Heading Modules ---------- -->

<!-- ---------- One Column Content Modules ---------- -->
			@@include( "modules/one-column-contents/one-column-content.html" )
<!-- ---------- END One Column Content Modules ---------- -->

<!-- ---------- Table Modules ---------- -->
			@@include( "modules/tables/table.html" )
<!-- ---------- END Table Modules ---------- -->
		</center>
	</body>
</html>