<!--
	Module: One Column Content, Shift Right
	Variant: @@variant, sapphire buttons
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="width: 100%;" cellpadding="8px" cellspacing="0" role="presentation">
				<tr class="layout_mobile-one-column">
					<td width="124" style="font-size:1px; line-height:21px;" class="column">&nbsp;</td>
					<td class="column">
						<p class="eyebrow"><span class="bullet">&bull;</span> <span class="label">What's Trending</span></p>
						<br>
						<h2 class="sans">One chart you need to see</h2>
						<br>
						<p class="paragraph-2">
							<strong>Is Manufacturing Shifting from China to India?</strong>
						</p>
						<br>
						<p class="paragraph-2">While increased tariffs are causing many companies to navigate away from China and toward India, we believe China will likely remain an important manufacturing destination for the foreseeable future. Operating in the country is indeed becoming more difficult for foreign investors—but it continues to have competitive infrastructure, an effective labor force, and long-standing relationships with foreign companies that would be challenging and costly to replace.</p>
						<br>
						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "Text Button"
						})
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>