<!--
	Module: Two Column Contents, Strategy Card
	Variant: @@variant
-->
<tr>
	<td align="center" class="bg @@variant">
		<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
			<tr>
				<td class="frame"></td>
				<td class="content">
					<table style="" cellpadding="8px" cellspacing="0" class="w-100" align="" role="presentation">
						<tr class="layout_two-column layout_mobile-one-column" align="center">
							<td style="width: 194px;" class="column align-right-md">
								<!-- <img src="@@imgBase/@@imgSrc" alt="Strategy thumbnail" width="194" class="d-block"> -->
								<img src="https://placehold.co/194x194" alt="Strategy thumbnail" width="194px" height="194px" class="d-block">
							</td>
							<td style="vertical-align: middle; width: 194px;" class="column" align="left">
								<p class="paragraph-3 margin-b-16">
									Investors can now access Lazard's flagship Global Listed Infrastructure Fund as an exchange traded fund (ETF), using the ticker 'GIFL'.
								</p>
								
								<p>
									Explore the Lazard Global Listed
								</p>
								<p class="margin-b-16">
									Infrastructure Active ETF page today
								</p>
								
								@@include("components/buttons/text/template.html", {
									variant: "",
									href: "https://www.lazardassetmanagement.com",
									label: "Subscribe"
								})
							</td>
						</tr>
					</table>
				</td>
				<td class="frame"></td>
			</tr>
		</table>
	</td>
</tr>