/* ---------- Variables ---------- */
:root {
	/* ---------- Colors ---------- */
	--light_grey: #C5C6C6;
	--bg_grey: #F3F2F2;
	
	/* ---------- Variant Colors ---------- */
	/* Primary */
  --parchment: #ffffff;
	--onyx: #171A1C;
  --sapphire: #00539A;
	--sage: #D9E5CC;
	--clarity: #EBF4FA;
	--currency: #4D5C49;
	/* Secondary */
	--dark_blue: #102E47;
	--medium_blue: #3D8ACC;
	--light_blue: #93CDFF;
	--dark_blue: #30362B;
	--medium_green: #C1D2B1;
	--light_green: #D9E5CC;
	--dark_grey: #515355;
	--medium_grey: #747576;
	--light_grey: #C5C6C6;
	/* Utility */
	--bg_grey: #F3F2F2;
	/* RGBA - Used for MSO button colors */
	--rgba_sapphire: rgb(0, 83, 154);
	
	/* ---------- Frame colors ---------- */
	--frame: #dadada;
	--frame_sapphire: #296faa;
	--frame_onyx: #3c3f40;
	--frame_currency: #6a7666;
}
/* ---------- END Colors ---------- */

/* ---------- Boilerplate ---------- */
body {
	margin: 0;
	padding-top: 10px;
	background-color: var(--bg_grey);
}

table {
	border-collapse: collapse !important;
}

table tr td {
	vertical-align: top;
}

/* Typography */
h1, h2, h3, h4 {
	font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
	/* font-family: "PP Neue World", serif; */
	font-weight: normal;
	line-height: 100%;
	margin: 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	line-height: 120%;
}

h4 {
	font-size: 12px;
}

.subheadline {
	font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 95%;
	letter-spacing: -0.24px;
}

h2.subheadline {
	font-size: 16px;
	letter-spacing: -0.16px;
	font-weight: normal;
	line-height: 120%;
}

h3.subheadline {
	font-size: 12px;
	letter-spacing: -0.12px;
	line-height: 120%;
}

p {
	font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 120%;
	margin: 0;
}

.paragraph-2 {
	font-size: 12px;
	line-height: 140%;
}

.paragraph-3 {
	font-size: 10px;
}

a {
	font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: var(--sapphire);
	text-transform: capitalize;
	line-height: 120%;
}

.link-2 {
	font-size: 12px;
	line-height: 160%;
}

.disclaimer {
	font-size: 9px;
}

/* Utilities */
.d-block {
	display: block;
}

.fixed {
	table-layout: fixed;
}

.center {
	text-align: center;
}

.padding-y-20 {
	padding: 20px 0;
}

/* Layout */
.layout_two-column {
	display: block;
}

.layout_two-column .column {
	display: inline-block;
	width: 100%;
	max-width: 267px;
}
/* ---------- END Boilerplate ---------- */

/* ---------- Component Styles ---------- */
.btn.pill {
	display: inline-block;
	background-color: var(--rgba_sapphire);
	color: var(--parchment);
	border: var(--onyx);
	border-radius: 80px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	-webkit-text-size-adjust: none;
	line-height: 32px;
	padding: 0 20px;
}

.eyebrow {
	text-transform: uppercase;
	font-size: 10px;
	line-height: 8px;
	vertical-align: middle;
}

.eyebrow .bullet {
	font-size: 30px;
	line-height: 8px;
	vertical-align: middle;
}
/* ---------- END Component Styles ---------- */

/* ---------- Module Styles ---------- */
.module {
	display: table;
	width: 100%;
	background-color: var(--parchment);
	max-width: 640px;
	color: var(--onyx);
}

.frame {
	width: 32px;
}

.content {
	padding: 32px 16px;
	border-right: 0.5px solid var(--frame);
	border-left: 0.5px solid var(--frame);
}

.content.v-flush {
	padding: 0 16px;
}

.content.alt {
	padding: 48px 16px 16px 16px;
}
/* ---------- END Module Styles ---------- */

/* ---------- Mobile Styles ---------- */
@media screen and (max-width: 578px) {
	/* .layout_two-column .column {
		display: block;
		padding-bottom: 16px;
	} */
}
/* ---------- END Mobile Styles ---------- */

/* ---------- Dark Mode Styles ---------- */
@media (prefers-color-scheme: dark) {
	.module {
		background-color: #00539A !important;
		color: #ffffff !important;
	}

	.btn.pill {
		background-color: #ffffff !important;
		color: #00539A !important;
	}

	.content {
		border-right: 0.5px solid #296faa !important;
		border-left: 0.5px solid #296faa !important;
	}
}
/* ---------- END Dark Mode Styles ---------- */