<!--
	Module: CTA Banner, Two Column
	Variant: @@variant, sapphire buttons
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module cta-banner @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content">
			<table style="" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%" class="layout_two-column_fluid">
				<tr>
					<td class="column">
						@@heading
						<br>
						@@paragraph
					</td>
					<td class="column">
						@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
							label: "Download",
							width: "98px"
						})
					</td>
				</tr>
			</table>			
		</td>
		<td class="frame"></td>
	</tr>
</table>