<tr id="components">
	<td align="center">
		<table style="background-color: lightgray;" border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
			<tr>
				<td class="frame"></td>
				<td class="content">
					<table cellpadding="8px" width="100%" role="presentation">

						<tr>
							<td align="center" id="eyebrows">
								<h4 style="margin: 16px;">Eyebrows</h4>
							</td>
						</tr>

						<tr>
							<td>
								@@include('components/eyebrows/template.html', {
									variant: "",
									label: "What's trending"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include('components/eyebrows/template.html', {
									variant: "",
									label: "What's trending"
								})
							</td>
						</tr>

						<tr>
							<td align="center" id="buttons">
								<h4 style="margin: 16px;">Buttons</h4>
							</td>
						</tr>
						<!-- Large -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
									label: "Sapphire Large Primary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.sapphire.html", {
									label: "Reversed Sapphire Large Primary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.sapphire.html", {
									label: "Sapphire Large Secondary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.sapphire.html", {
									label: "Reversed Sapphire Large Secondary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<!-- Small -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
									label: "Sapphire Small Primary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.sapphire.html", {
									label: "Reversed Sapphire Small Primary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.sapphire.html", {
									label: "Sapphire Small Secondary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.sapphire.html", {
									label: "Reversed Sapphire Small Secondary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<!-- Large -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.onyx.html", {
									label: "Onyx Large Primary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.onyx.html", {
									label: "Reversed Onyx Large Primary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.onyx.html", {
									label: "Onyx Large Secondary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.onyx.html", {
									label: "Reversed Onyx Large Secondary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<!-- Small -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.onyx.html", {
									label: "Onyx Small Primary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.onyx.html", {
									label: "Reversed Onyx Small Primary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.onyx.html", {
									label: "Onyx Small Secondary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.onyx.html", {
									label: "Reversed Onyx Small Secondary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<!-- Text -->
						<tr>
							<td class="">
								@@include("components/buttons/text/template.html", {
									variant: "",
									href: "https://lazard.com",
									label: "Text Button"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/text/template.html", {
									variant: "",
									href: "https://lazard.com",
									label: "Text Button"
								})
							</td>
						</tr>

						<!-- Open In New -->
						<tr>
							<td>
								@@include( "components/buttons/open-in-new/template.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
							</td>
						</tr>
					</table>
				</td>
				<td class="frame"></td>
			</tr>
		</table>
	</td>
</tr>