<tr id="components">
	<td align="center">
		<table style="background-color: lightgray;" border="0" cellpadding="0" cellspacing="0" role="presentation" class="module @@variant">
			<tr>
				<td class="frame"></td>
				<td class="content">
					<table cellpadding="8px" width="100%" role="presentation">

						<tr>
							<td align="center" id="Headlines" colspan="2">
								<h4 style="margin: 16px;">Headlines</h4>
							</td>
						</tr>

						<tr>
							<td>
								<h1>Headline 1</h1>
								<br>
								<h2>Headline 2</h2>
								<br>
								<h3>Headline 3</h3>
								<br>
								<h4>Headline 4</h4>
							</td>

							<td>
								<h1 class="sans">Headline 1</h1>
								<br>
								<h2 class="sans">Headline 2</h2>
								<br>
								<h3 class="sans">Headline 3</h3>
								<br>
								<h4 class="sans">Headline 4</h4>
							</td>
						</tr>

						<tr>
							<td align="center" colspan="2">
								<h4 style="margin: 16px;">Subheadlines</h4>
							</td>
						</tr>

						<tr>
							<td>
								<h1 class="subheadline">Headline 1</h1>
								<br>
								<h2 class="subheadline">Headline 2</h2>
								<br>
								<h3 class="subheadline">Headline 3</h3>
							</td>
						</tr>

						<tr>
							<td align="center" colspan="2">
								<h4 style="margin: 16px;">Paragraphs</h4>
							</td>
						</tr>

						<tr>
							<td>
								<p>Paragraph 1</p>
								<br>
								<p class="paragraph-2">Paragraph 2</p>
								<br>
								<p class="paragraph-3">Paragraph 3</p>
							</td>
						</tr>

						<tr>
							<td align="center" colspan="2">
								<h4 style="margin: 16px;">Disclaimer/Caption</h4>
							</td>
						</tr>

						<tr>
							<td>
								<p class="caption">Disclaimer + Caption</p>
							</td>
						</tr>

						<tr>
							<td align="center" colspan="2">
								<h4 style="margin: 16px;">Links</h4>
							</td>
						</tr>

						<tr>
							<td>
								<a href="http://www.lazard.com">Link 1</a>
								<br>
								<a href="http://www.lazard.com" class="link-2">Link 2</a>
							</td>
						</tr>

						<tr>
							<td align="center" id="eyebrows" colspan="2">
								<h4 style="margin: 16px;">Eyebrows</h4>
							</td>
						</tr>

						<tr>
							<td>
								@@include('components/eyebrows/template.html', {
									variant: "",
									label: "What's trending"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include('components/eyebrows/template.html', {
									variant: "",
									label: "What's trending"
								})
							</td>
						</tr>

						<tr>
							<td align="center" id="lists" colspan="2">
								<h4 style="margin: 16px;">Lists</h4>
							</td>
						</tr>

						<tr>
							<td>
								<div class="mso_list">
									<ul class="g_list" style="" align="left" type="disc">
											<li>Outlook on Emerging Markets</li>
											<li>Outlook on Europe</li>
											<li>Outlook on Japan</li>
											<li>Outlook on the United Kingdom</li>
									</ul>
								</div>
								<br>
							</td>

							<td>
								<div class="mso_list">
									<ul class="g_list" style="" align="left" type="disc">
											<li class="link-2"><a target="_blank" href="https://lazard.com">Outlook on Emerging Markets</a></li>
											<li class="link-2"><a target="_blank" href="https://lazard.com">Outlook on Europe</a></li>
											<li class="link-2"><a target="_blank" href="https://lazard.com">Outlook on Japan</a></li>
											<li class="link-2"><a target="_blank" href="https://lazard.com">Outlook on the United Kingdom</a></li>
									</ul>
								</div>
								<br>
							</td>
						</tr>

						<tr>
							<td align="center" id="buttons" colspan="2">
								<h4 style="margin: 16px;">Buttons</h4>
							</td>
						</tr>
						<!-- Large -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
									label: "Sapphire Large Primary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.sapphire.html", {
									label: "Reversed Sapphire Large Primary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.sapphire.html", {
									label: "Sapphire Large Secondary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.sapphire.html", {
									label: "Reversed Sapphire Large Secondary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<!-- Small -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.sapphire.html", {
									label: "Sapphire Small Primary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.sapphire.html", {
									label: "Reversed Sapphire Small Primary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.sapphire.html", {
									label: "Sapphire Small Secondary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.sapphire.html", {
									label: "Reversed Sapphire Small Secondary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<!-- Large -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.onyx.html", {
									label: "Onyx Large Primary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.onyx.html", {
									label: "Reversed Onyx Large Primary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.onyx.html", {
									label: "Onyx Large Secondary",
									width: "198px",
									variant: ""
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.onyx.html", {
									label: "Reversed Onyx Large Secondary",
									width: "250px",
									variant: ""
								})
							</td>
						</tr>

						<!-- Small -->
						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.primary.onyx.html", {
									label: "Onyx Small Primary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.primary.onyx.html", {
									label: "Reversed Onyx Small Primary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td>
								@@include("components/buttons/pills/templates/template.secondary.onyx.html", {
									label: "Onyx Small Secondary",
									width: "198px",
									variant: "small"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/pills/templates/template.msoDark.secondary.onyx.html", {
									label: "Reversed Onyx Small Secondary",
									width: "250px",
									variant: "small"
								})
							</td>
						</tr>

						<!-- Text -->
						<tr>
							<td class="">
								@@include("components/buttons/text/template.html", {
									variant: "",
									href: "https://lazard.com",
									label: "Text Button"
								})
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include("components/buttons/text/template.html", {
									variant: "",
									href: "https://lazard.com",
									label: "Text Button"
								})
							</td>
						</tr>

						<!-- Open In New -->
						<tr>
							<td>
								@@include( "components/buttons/open-in-new/template.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
							</td>
						</tr>

						<tr>
							<td class="dark">
								@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
							</td>
						</tr>
					</table>
				</td>
				<td class="frame"></td>
			</tr>
		</table>
	</td>
</tr>