<!--
	Module: Two Column Contents, Full Content
	Variant: @@variant, dark background
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module dark @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="" cellpadding="8px" cellspacing="0" class="w-100" role="presentation">
				<tr class="layout_two-column">
					<td class="column">
						<!-- <img style="" src="@@imgBase/LAM_ContentImage_Field.png" alt="First Column Feature image" width="260" border="0" class="d-block"> -->
						<img style="" src="https://placehold.co/264x148" alt="First Column Feature image" width="260" border="0" class="d-block">
						
						<!--
							Component: Eyebrow
						-->
						@@include('components/eyebrows/template.html', {
							variant: "",
							label: "What's trending",
							classes: "margin-t-16 margin-b-16"
						})
						
						<h4 class="sans margin-b-16">Do rising US Interest rates offer opportunities in EM?</h4>
						
						<h3 class="subheadline margin-b-16">Tuesday, October 31, 1:00PM eT</h3>
						
						<p class="d-block paragraph-2 margin-b-16">From airports and cellphone towers to electricity networks and railways, infrastructure makes businesses and economies run. By investing in the publicly listed equity of companies that operate infrastructure.</p>

						<div class="mso_list margin-b-16">
							<ul class="g_list" style="" align="left" type="disc">
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
							</ul>
						</div>

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://www.lazardassetmanagement.com",
							label: "Read more"
						})
					</td>
					<td class="column">
						<!-- <img style="" src="@@imgBase/LAM_ContentImage_Station.png" alt="Second Column Feature image" width="260" border="0" class="d-block"> -->
						<img style="" src="https://placehold.co/264x148" alt="First Column Feature image" width="260" border="0" class="d-block">
						
						<!--
							Component: Eyebrow
						-->
						@@include('components/eyebrows/template.html', {
							variant: "",
							label: "What's trending",
							classes: "margin-t-16 margin-b-16"
						})
						
						<h4 class="sans margin-b-16">Do rising US Interest rates offer opportunities in EM?</h4>
						
						<h3 class="subheadline margin-b-16">Tuesday, October 31, 1:00PM eT</h3>
						
						<p class="d-block paragraph-2 margin-b-16">From airports and cellphone towers to electricity networks and railways, infrastructure makes businesses and economies run. By investing in the publicly listed equity of companies that operate infrastructure.</p>

						<div class="mso_list margin-b-16">
							<ul class="g_list" style="" align="left" type="disc">
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
									<li class="link-2"><a target="_blank" href="https://www.lazardassetmanagement.com">Lazard US Offshore Fund Offerings</a></li>
							</ul>
						</div>

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						<h3 class="subheadline margin-b-16">Australia</h3>
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						

						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://www.lazardassetmanagement.com",
							label: "See all highlights"
						})
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>