<!--
	Module: Two Column Contents, Full Content
	Variant: @@variant, dark background
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module dark @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="" cellpadding="8px" class="w-100">
				<tr class="layout_two-column">
					<td class="column">
						<img style="" src="@@imgBase/LAM_ContentImage_Field.png" alt="First Column Feature image" width="263" border="0" class="d-block">
						<p></p>
						<br>
						<!--
							Component: Eyebrow
						-->
						@@include('components/eyebrows/template.html', {
							variant: "",
							label: "What's trending"
						})
						<br>
						<h4>Do rising US Interest rates offer opportunities in EM?</h4>
						<br>
						<h3 class="subheadline">Tuesday, October 31, 1:00PM eT</h3>
						<br>
						<p style="width: 193px;" class="d-block paragraph-2">From airports and cellphone towers to electricity networks and railways, infrastructure makes businesses and economies run. By investing in the publicly listed equity of companies that operate infrastructure.</p>
						<br>

						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "Read more"
						})
					</td>
					<td class="column">
						<img style="" src="@@imgBase/LAM_ContentImage_Station.png" alt="Second Column Feature image" width="263" border="0" class="d-block">
					<p></p>
					<br>
						<!--
							Component: Eyebrow
						-->
						@@include('components/eyebrows/template.html', {
							variant: "",
							label: "What's trending"
						})
						<br>
						<h4>Do rising US Interest rates offer opportunities in EM?</h4>
						<br>
						<h3 class="subheadline">Tuesday, October 31, 1:00PM eT</h3>
						<br>
						<p style="width: 193px;" class="d-block paragraph-2">From airports and cellphone towers to electricity networks and railways, infrastructure makes businesses and economies run. By investing in the publicly listed equity of companies that operate infrastructure.</p>
						<br>

						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						<h3 class="subheadline">Australia</h3>
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>
						@@include( "components/buttons/open-in-new/template.dark.html", { label: "Select Australian Equity", disclaimer: "APIR LAZ0022AU" } )
						<br>

						@@include("components/buttons/text/template.html", {
							variant: "",
							href: "https://lazard.com",
							label: "See all highlights"
						})
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>