<!--
	Module: Two Column Contents, Image Right
	Variant: @@variant, sapphire buttons, dark background
-->
<table style border="0" cellpadding="0" cellspacing="0" role="presentation" class="module dark @@variant">
	<tr>
		<td class="frame"></td>
		<td class="content h-flush">
			<table style="width: 100%;" cellpadding="8px">
				<tr class="layout_two-column">
					<td style class="column">
						<h4>Do Rising US Interest Rates Offer Opportunities in EM?</h4>
						<br>
						<h3 class="subheadline">Tuesday, October 31, 1:00PM eT</h3>
						<br>
						<p class="paragraph-2">Rising US interest rates--and soaring Treasury yields--have done their part to rattle global economics. As the environment settles, we expect growth differentials to shift, creating a more positive backdrop for emerging markets debt and interesting investment opportunities for the asset class across the capital structure.Rising US interest rates--and soaring Treasury yields--have done their part to rattle global economics. As the environment settles, we expect growth differentials to shift, creating a more positive backdrop for emerging markets debt and interesting investment opportunities for the asset class across the capital structure.</p>
						<br>
						
						<p style class="list-item"><span class="bullet">&bull;</span>&nbsp; <a target="_blank" href="https://lazard.com" class="link-2">Lazard US Offshore Fund Offerings</a></p>
						<br>
						
						@@include("components/buttons/pills/templates/template.msoDark.primary.sapphire.html", {
							label: "Primary",
							width: "98px"
						})
					</td>
					<td style class="column">
						<h3 class="subheadline">Emerging Markets Investment Grade Yields</h3>
						<br>
						<img style src="@@imgBase/@@imgSrc" alt="Second Column Image" class="">
						<p></p> <!-- Spacer <p> for MSO image margin -->
						<br>
						<p class="caption">
							As of 26 October 2023 <br>
							Sovereign: JPM EMBI Global Diversified IG; Corporate: JPM CEMBI Broad Diversified IG <br>
							Source: Lazard, JP Morgan
						</p>
					</td>
				</tr>
			</table>
		</td>
		<td class="frame"></td>
	</tr>
</table>